<section class="container">
    <div>
        <div class="title-container">
            <h3 class="h3">
                Vidéos de vos chaînes préférées
            </h3>
            <button class="button">
                Voir plus
            </button>
        </div>
        <article class="video-container video-wrapper">
            <ng-container *ngFor="let video of recommandations">
                <a [routerLink]="['/video', video._id]" class="video">
                    <div class="video__miniature-wrapper">
                        <img [src]="environment.apiUrl + video.img.path" [alt]="video.description" class="video__miniature">
                    </div>
                    <div class="video__channel">
                        <img [src]="environment.apiUrl + video.idChannel.image.path" [alt]="video.streamerName" class="video__image-profil-channel">
                        <div class="video__streamer">
                            <p class="video__category">{{ video.title }}</p>
                            <p class="video__streamer-name">{{ video.idChannel.name }}</p>
                        </div>
                    </div>
                </a>
            </ng-container>
        </article>
    </div>
    <div>
        <div class="title-container">
            <h3 class="h3">
                Vidéos les plus vues
            </h3>
            <button class="button">
                Voir plus
            </button>
        </div>
        <article class="video-container video-wrapper">
            <ng-container *ngFor="let video of mostviewed">
                <a [routerLink]="['/video', video._id]" class="video">
                    <div class="video__miniature-wrapper">
                        <img [src]="environment.apiUrl + video.img.path" [alt]="video.description" class="video__miniature">
                    </div>
                    <div class="video__channel">
                        <img [src]="environment.apiUrl + video.idChannel.image.path" [alt]="video.streamerName" class="video__image-profil-channel">
                        <div class="video__streamer">
                            <p class="video__category">{{ video.title }}</p>
                            <p class="video__streamer-name">{{ video.idChannel.name }}</p>
                        </div>
                    </div>
                </a>
            </ng-container>
        </article>
    </div>
    <div>
        <div class="title-container">
            <h3 class="h3">
                Catégories qui pourraient vous plaire
            </h3>
            <button class="button">
                Voir plus
            </button>
        </div>
        <article class="video-container video-wrapper">
            <a *ngFor="let category of categories; let i = index" href="" class="video">
                <div class="video__miniature-wrapper" (mouseover)="hoveredIndex = i" (mouseout)="hoveredIndex = null">
                    <img [src]="environment.apiUrl + category.image.path" [alt]="'Image ' + (i + 1)" class="video__miniature video__miniature--blur" [class.blur]="hoveredIndex === i">
                    <div class="video__title-overlay" *ngIf="hoveredIndex === i">{{category.name}}</div>
                </div>
            </a>
        </article>
    </div>
</section>
