<section>
    <h2>Statistiques de votre chaîne</h2>
    <div class="stats">
        <div class="statCard">
            <p class="statElement">Nombre de vidéos postées</p>
            <p>{{ userStats.numberOfVideos }}</p>
        </div>
        <div class="statCard">
            <p class="statElement">Nombre total de vues </p>
            <p>{{ userStats.totalViews }}</p>
        </div>
        <div class="statCard">
            <p class="statElement">Nombre total d'abonnés</p>
            <p>{{ userStats.totalSub}}</p>
        </div>
    </div>
</section>
