<section class="container wrapper">
    <article class="container__panel">
        <div class="userInfo">
            <img [src]="user?.profileImage ? (environment.apiUrl + user.profileImage.path) : 'assets/userProfil.png'" alt="image profil" class="imageProfiil">
            <p>Votre chaîne</p>
            <p class="profilName">{{ user?.username }}</p>
        </div>
        <div class="profile-tabs">
            <button [ngStyle]="{'color': selectedTab === 'dashboard' ? '#EC567C' : ''}" (click)="selectedTab = 'dashboard'">Tableau de bord</button>
            <button [ngStyle]="{'color': selectedTab === 'content' ? '#EC567C' : ''}" (click)="selectedTab = 'content'">Contenu</button>
            <button [ngStyle]="{'color': selectedTab === 'settings' ? '#EC567C' : ''}" (click)="selectedTab = 'settings'">Paramètres</button>
            <button [ngStyle]="{'color': selectedTab === 'upload' ? '#EC567C' : ''}" (click)="selectedTab = 'upload'">Poster une vidéo</button>
        </div>
    </article>

    <div class="profile-content">
        <app-statistics *ngIf="selectedTab === 'dashboard'"></app-statistics>
        <app-content *ngIf="selectedTab === 'content'"></app-content>
        <app-settings *ngIf="selectedTab === 'settings'"></app-settings>
    </div>
</section>