%user-label-style {
  color: #F4EDDE;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

%user-input-style {
  background: none;
  border-bottom: 1px solid #F4EDDE;
  border-right: none;
}

.userName, .userBirthday, .userEmail, .userPassword {
  @extend %user-label-style;
}

.inputName, .inputBirthday, .inputEmail, .inputPassword {
  @extend %user-input-style;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .form {
    margin: auto;
    .login-container {

      .form-group {

      }
    }
  }
  .image {
    max-width: 50vw;
    max-height: 100vh;
    img {
      height: 100%;
      width: 100%;
    }
  }
}