.container {
  display: grid;
  gap: 48px;
}

.videoWrapper {
  padding-right: 64px;
}

.video {
  display: grid;
  gap: 24px;
  max-width: 400px;
}

.miniatureWrapper {
  overflow: hidden;
  display: inline-block;
  max-width: 307px;
  max-height: 188px;
  border-radius: 8px;
}

.miniatureVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.miniatureVideo {
  transition: 0.8s;
}

.miniatureVideo:hover {
  transform: scale(1.1);
}

.imageProfilChannel {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  object-fit: cover;
}

.channel {
  display: flex;
  gap: 24px;
}

.streamerName {
  display: flex;
}

.streamer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.videoContainer {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 48px;
}

.miniatureWrapper {
  position: relative;
}

.miniatureVideo.blur {
  filter: blur(10px);
}

.titleOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #F4EDDE;
  padding: 10px;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
}

.titleContainer {
  width: 89%;
  display: flex;
  justify-content: space-between;
}

.button {
  color: #EC567C;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  background: none;
}
