<section class="container">
    <div>
        <h3 class="h3">
            Vidéos de vos chaines préférées
        </h3>
        <article class="videoContainer videoWrapper">
            <ng-container *ngFor="let video of videos">
                <a href="" class="video">
                    <div class="miniatureWrapper">
                        <img [src]="miniatureVideo" [alt]="miniatureDescription" class="miniatureVideo">
                    </div>
                    <div class="channel">
                        <img [src]="imageProfil" [alt]="imageProfilDescription" class="imageProfilChannel">
                        <div class="streamer">
                            <p class="streamerNamePink">Nightwing3140</p>
                            <p class="catégory">Compilation LoL</p>
                        </div>
                    </div>
                </a>
            </ng-container>
        </article>
    </div>
    <div>
        <h3 class="h3">
            Vidéos de vos chaines préférées
        </h3>
        <article class="videoContainer videoWrapper">
            <ng-container *ngFor="let video of videos">
                <a href="" class="video">
                    <div class="miniatureWrapper">
                        <img [src]="miniatureVideo" [alt]="miniatureDescription" class="miniatureVideo">
                    </div>
                    <div class="channel">
                        <img [src]="imageProfil" [alt]="imageProfilDescription" class="imageProfilChannel">
                        <div class="streamer">
                            <p class="streamerNamePink">Nightwing3140</p>
                            <p class="catégory">Compilation LoL</p>
                        </div>
                    </div>
                </a>
            </ng-container>
        </article>
    </div>
    <div>
        <h3 class="h3">
            Vidéos de vos chaines préférées
        </h3>
        <article class="videoContainer videoWrapper">
            <ng-container *ngFor="let video of videos">
                <a href="" class="video">
                    <div class="miniatureWrapper">
                        <img [src]="miniatureVideo" [alt]="miniatureDescription" class="miniatureVideo">
                    </div>
                    <div class="channel">
                        <img [src]="imageProfil" [alt]="imageProfilDescription" class="imageProfilChannel">
                        <div class="streamer">
                            <p class="streamerNamePink">Nightwing3140</p>
                            <p class="catégory">Compilation LoL</p>
                        </div>
                    </div>
                </a>
            </ng-container>
        </article>
    </div>
</section>
