<section class="video-container">
    <h3 class="video-container__title">Vidéos recommandées</h3>
    <div class="video-container__videos">
        <ng-container *ngFor="let video of videos">
            <a [routerLink]="['/video', video._id]" class="video-link">
                <div class="video-link__thumbnail-wrapper">
                    <img [src]="environment.apiUrl + video.img.path" [alt]="video.description" class="video-link__thumbnail">
                </div>
                <div class="video-link__channel">
                    <img [src]="environment.apiUrl + video.idChannel.image.path" [alt]="video.streamerName" class="video-link__channel-profile">
                    <div class="video-link__channel-details">
                        <p class="video-link__name">{{ video.title }}</p>
                        <p class="video-link__streamer-name">{{ video.idChannel.name }}</p>
                    </div>
                </div>
            </a>
        </ng-container>
    </div>
</section>
